header{
  text-align: center;
}
img{
  max-width: 20%;
  max-height: 20%;
}
.maitrise{
  text-align: end;
  
}
.groupe1{
  display: flex;
  justify-content: space-between;
}
.classe{
  text-align: end;
}
.groupe2{
  display: flex;
  justify-content: space-between;
}
.groupe3{
  display: flex;
  justify-content: space-between;
}